<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What are you doing?</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Start your adventure on My Twitter</h1>
  <p>
	This is the home page for "My Twitter". I've created this application using Ruby On Rails with Sqlite3 and some useful tools provided by the Ruby/Rails/Gem communities. It wouldn't have been possible to realize this application without the great
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  </p>
  
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
  
<% end %>

